<div class="container">
  <h1>Editing <%= @title %></h1>
  <form method='post' action="/<%= @title %>">
    <input type='hidden' name='_method' value='put'>
    <fieldset>
      <label for='content'>
        Content:
      </label>
      <textarea rows='10' columns='50' name='content' id='content'>
        <%= @content %>
      </textarea>
    </fieldset>
    <div class="buttons">
      <input type='submit' class='button'>
      <a href='/' class='button'>Back</a>
    </div>
  </form>
</div>
