<h1>Home</h1>

<p><a href='/new'>Create page</a></p>

<h2>Pages</h2>

<% Dir.glob('pages/*.txt') do |page| %>
  <% title_without_path = page.gsub('pages/', '') %>
  <% title = title_without_path.gsub('.txt', '') %>

  <a href="/<%= title %>">
    <p><%= title %></p>
  </a>
<% end %>
