<div class="container">
  <h1><%= @title %></h1>
  <div class='content'>
    <%= @content %>
  </div>
  <div class='buttons'>
    <a href='/' class='button'>Back</a>
    <a href='/<%= @title %>/edit' class='button'>Edit this page</a>
  </div>
</div>
